/* line 1, ../sass/technologies.scss */
.technologies {
  box-sizing: content-box;
  width: 100%;
}
/* line 6, ../sass/technologies.scss */
.technologies p {
  position: relative;
  line-height: 1.5em;
}
/* line 11, ../sass/technologies.scss */
.technologies h2 {
  margin-left: 2em;
}
/* line 15, ../sass/technologies.scss */
.technologies .tech-topic {
  position: relative;
  box-sizing: border-box;
  margin-left: 2em;
  padding-right: 10em;
}
/* line 27, ../sass/technologies.scss */
.technologies ul li {
  list-style: none;
  line-height: 2em;
}
