.with-without-comparison {

  display: table;
  position: relative;
  margin-top: 2em;
  //background: #EEEEEE;
  margin-right: 4em;
  vertical-align: middle;

  .overview-img {

    display: table-cell;
    position: relative;
    width: 45%;
    max-width: 500px;
    padding-right: 5em;
  }

  .overview-description {
    position: relative;
    display: table-cell;
    vertical-align:middle;
  }

  .overview-text {
    position: relative;
    vertical-align: middle;
  }

  %img-overview {

    position: relative;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 500px;
    height: auto;
  }

  .img-overview-1 {
    @extend %img-overview;
  }

  .img-overview-2 {
    @extend %img-overview;
    padding-left: 200px;
    display: none;
  }
}

.with-without-comparison:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}