.content-outer {
  box-sizing: content-box;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content-inner {

  overflow: hidden;
  overflow-y: auto;
  box-sizing: content-box;
  height: 100%;
  width: 100%;
}

.content {

  box-sizing: content-box;
  position: relative;
  margin-top: 8em;
  width: 100%;
  height: auto;
  margin-bottom: 3em;
  margin-left: 2em;
  margin-right: 2em;
  padding-bottom: 3em;

  .brief-description {

    color: #555555;
    margin-bottom: 1em;
    font: 16px Arial;
    font-weight: bold;
  }

  .context {

    margin-top: 2em;
    margin-left: 2em;
    margin-bottom: 1em;
    width: 75%;
    font: 12pt "Times New Roman";
    line-height: 1.5em;

    .context-header {
      font: 16px Arial;
      font-weight: bold;
    }
  }
}

.project-section {

  display: table;
  position: relative;
  margin-top: 4em;
  margin-right: 4em;
  vertical-align: middle;
  margin-left: 2em;
  padding-bottom: 4em;

  .project-header {

    width: 100%;
    position: relative;
    display: table-row;
    font: 24px Arial;
    font-weight: bold;
    line-height: 2em;
    margin-left: 2em;
  }

  .project-img-cell {

    display: table-cell;
    position: relative;
    width: 50%;
    padding-right: 5em;

    .project-img {

      position: relative;
      padding-left: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      max-width: 450px;
      width: 100%;
      height: auto;
    }

  }

  .project-description-cell {
    position: relative;
    display: table-cell;
    vertical-align:middle;

    .project-description {
      position: relative;
      vertical-align: middle;

      p {
        line-height: 1.5em;
      }

      ul {

        li {
          list-style:none;
          margin-bottom: 1em;
        }
      }
    }
  }
}

.project-separator {

  border-bottom: 1px dotted;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}