.global-menu {

  .menu-font {
    font-family: 'Quicksand', sans-serif;
    color: #D1D1D1;
    font-size: 24px;
  }

  .menu-item {
    @extend .menu-font;
    cursor: pointer;
    white-space: nowrap;
  }

  .menu-item:hover {
    text-shadow: 0 0 4px #FF7140
  }

  .menu-item-selected {
    color: #FF7140
  }

  .porte-folio {
    position: absolute;
    display: inline-block;
    top: 30px;
    left: 500px;
  }

  .home {
    position: absolute;
    display: inline-block;
    top: 30px;
    left: 350px;
  }
}
