.global-menu {

  position: absolute;
  display: block;
  left: 300px;
  bottom: 10px;
  width: 400px;
  height: 30px;
  overflow: hidden;

  .menu-font {
    font-family: 'Vesper Libre', serif;
    color: #D1D1D1;
    font-size: 20px;
  }

  .menu-item {
    @extend .menu-font;
    cursor: pointer;
    white-space: nowrap;
  }

  .menu-item:hover {
    text-shadow: 0 0 4px #FF7140
  }

  .menu-item-selected {
    color: #FF7140
  }

  .porte-folio {
    position: relative;
    display: inline-block;
    top: 0;
    left: 0;
  }

  .home {
    position: absolute;
    display: inline-block;
    top: 30px;
    left: 350px;
  }
}

.global-menu-top {

  bottom: 50px;
  transition-duration: 0.25s;
}

.global-menu-bottom {
  bottom: 10px;
  transition-duration: 0.25s;
}
