.global-content {
  position: fixed;
  display: block;
  top: 100px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border: 4px solid green;
}

.global-content-default {
  transition-duration: 0.25s;
}

.global-content-down {
  top: 140px;
  transition-duration: 0.25s;
}
