.global-content {
  position: fixed;
  display: block;
  top: 100px;
  left: 0;
  right: 0;
  bottom: 10px;
  overflow: hidden;
}

.global-content-default {
  transition-duration: 0.25s;
}

.global-content-down {
  top: 100px;
  transition-duration: 0.25s;
}
