@import url(nyxTraceViewer.css);
.globalHeader {
  position: fixed;
  display: block;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  background-color: #3D6399;
  cursor: default;
  overflow: hidden;
  z-index: 100; }
  .globalHeader .header-font, .globalHeader .site-name, .globalHeader .sub-title, .globalHeader .route-path, .globalHeader .section-title {
    font-family: 'Quicksand', sans-serif;
    color: #E1E1E1; }
  .globalHeader .site-name {
    position: relative;
    display: inline-block;
    font-size: 24px;
    top: 15px;
    left: 15px;
    cursor: pointer; }
  .globalHeader .site-name:hover {
    text-shadow: 0 0 4px #FF7140; }
  .globalHeader .sub-title {
    position: relative;
    display: block;
    top: 15px;
    left: 25px;
    font-size: 14px; }
  .globalHeader .route-path {
    position: absolute;
    display: block;
    right: 15px;
    top: 15px;
    font-size: 14px; }
  .globalHeader .section-title {
    position: absolute;
    display: block;
    bottom: -30px;
    left: 400px;
    font-size: 20px; }
  .globalHeader .section-title-hidden {
    bottom: -30px;
    transition-duration: 0.25s; }
  .globalHeader .section-title-visible {
    bottom: 15px;
    transition-duration: 0.25s; }

.global-content {
  position: fixed;
  display: block;
  top: 100px;
  left: 0;
  right: 0;
  bottom: 10px;
  overflow: hidden; }

.global-content-default {
  transition-duration: 0.25s; }

.global-content-down {
  top: 100px;
  transition-duration: 0.25s; }

.global-menu {
  position: absolute;
  display: block;
  left: 300px;
  bottom: 10px;
  width: 400px;
  height: 30px;
  overflow: hidden; }
  .global-menu .menu-font, .global-menu .menu-item {
    font-family: 'Vesper Libre', serif;
    color: #D1D1D1;
    font-size: 20px; }
  .global-menu .menu-item {
    cursor: pointer;
    white-space: nowrap; }
  .global-menu .menu-item:hover {
    text-shadow: 0 0 4px #FF7140; }
  .global-menu .menu-item-selected {
    color: #FF7140; }
  .global-menu .porte-folio {
    position: relative;
    display: inline-block;
    top: 0;
    left: 0; }
  .global-menu .home {
    position: absolute;
    display: inline-block;
    top: 30px;
    left: 350px; }

.global-menu-top {
  bottom: 50px;
  transition-duration: 0.25s; }

.global-menu-bottom {
  bottom: 10px;
  transition-duration: 0.25s; }

.porte-folio-content {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto; }

.porte-folio-item {
  position: relative;
  display: block;
  min-height: 100px;
  left: 0;
  right: 0;
  padding-top: 20px;
  padding-bottom: 40px;
  margin-bottom: 40px; }
  .porte-folio-item .porte-folio-item-separator {
    position: absolute;
    display: block;
    bottom: 0;
    left: 25%;
    right: 25%;
    height: 1px;
    border-bottom: 1px dotted black; }
  .porte-folio-item .porte-folio-item-title {
    position: relative;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    min-height: 50px; }
    .porte-folio-item .porte-folio-item-title .porte-folio-item-title-text {
      position: relative;
      display: block;
      text-align: center;
      max-width: 900px;
      top: 10px;
      font-family: 'Slabo 27px', serif;
      font-size: 27px;
      font-weight: bold;
      margin-bottom: 30px;
      cursor: pointer; }
    .porte-folio-item .porte-folio-item-title .porte-folio-item-title-text:hover {
      text-shadow: 0 0 4px #FF7140; }
  .porte-folio-item .porte-folio-item-content .porte-folio-item-image {
    position: relative;
    display: inline-block;
    left: 0;
    top: 0;
    margin-left: 50px;
    margin-right: 50px;
    width: 200px;
    height: 200px;
    overflow: hidden;
    background-image: url("../images/InterviewManager.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; }
  .porte-folio-item .porte-folio-item-content .porte-folio-item-description {
    position: relative;
    display: inline-block;
    top: 0;
    left: 0;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Mandali', sans-serif;
    font-size: 16px;
    overflow: hidden; }

.interview-manager .interview-manager-content {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden; }

.pages-menu .pages-menu-item-font, .pages-menu .pages-menu-item {
  font-family: 'Vesper Libre', serif;
  color: #E1E1E1;
  font-size: 16px; }
.pages-menu .pages-menu-item {
  position: relative;
  display: inline-block;
  margin-top: 5px;
  margin-left: 75px;
  margin-right: 75px;
  cursor: pointer; }
.pages-menu .pages-menu-item:hover {
  text-shadow: 0 0 4px #FF7140; }
.pages-menu .pages-menu-item-marker {
  position: relative;
  display: block;
  width: 15px;
  height: 15px;
  box-shadow: 2px -2px 1px 1px #FF7140;
  bottom: -8px;
  left: 25px;
  background-color: white;
  transform: rotate(-45deg); }

.pages-menu-default {
  transition-duration: 0.25s; }

.pages-menu-visible {
  top: 0;
  transition-duration: 0.25s; }

.pages-control .pages-menu-area {
  position: absolute;
  display: block;
  background-color: #707F94;
  left: 0;
  top: 0;
  width: 100%;
  height: 40px;
  border-radius: 0 0 20px 20px;
  z-index: 50;
  overflow: hidden; }
.pages-control .pages-area {
  position: absolute;
  display: block;
  top: 40px;
  left: 20px;
  right: 20px;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden; }

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px; }

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px; }

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  /* Make the masthead heading the same height as the navigation */ }
  .header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px; }

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5; }

.container-narrow > hr {
  margin: 30px 0; }

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5; }
  .jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px; }

/* Supporting marketing content */
.marketing {
  margin: 40px 0; }
  .marketing p + h4 {
    margin-top: 28px; }

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px; }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0; }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px; }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0; } }

/*# sourceMappingURL=main.css.map */
