@import url(porteFolioItem.css);
.globalHeader {
  position: fixed;
  display: block;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  background-color: #3D6399;
  cursor: default; }
  .globalHeader .header-font, .globalHeader .site-name, .globalHeader .sub-title, .globalHeader .route-path {
    font-family: 'Quicksand', sans-serif;
    color: #E1E1E1; }
  .globalHeader .site-name {
    position: relative;
    display: inline-block;
    font-size: 24px;
    top: 15px;
    left: 15px;
    cursor: pointer; }
  .globalHeader .site-name:hover {
    text-shadow: 0 0 4px #FF7140; }
  .globalHeader .sub-title {
    position: relative;
    display: block;
    top: 15px;
    left: 25px;
    font-size: 14px; }
  .globalHeader .route-path {
    position: absolute;
    display: block;
    right: 15px;
    top: 15px;
    font-size: 14px; }

.global-content {
  position: fixed;
  display: block;
  top: 110px;
  left: 10px;
  right: 10px;
  bottom: 10px; }

.global-menu .menu-font, .global-menu .menu-item {
  font-family: 'Vesper Libre', serif;
  color: #D1D1D1;
  font-size: 20px; }
.global-menu .menu-item {
  cursor: pointer;
  white-space: nowrap; }
.global-menu .menu-item:hover {
  text-shadow: 0 0 4px #FF7140; }
.global-menu .menu-item-selected {
  color: #FF7140; }
.global-menu .porte-folio {
  position: absolute;
  display: inline-block;
  bottom: 10px;
  left: 300px; }
.global-menu .home {
  position: absolute;
  display: inline-block;
  top: 30px;
  left: 350px; }

.porte-folio-content {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto; }

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px; }

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px; }

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  /* Make the masthead heading the same height as the navigation */ }
  .header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px; }

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5; }

.container-narrow > hr {
  margin: 30px 0; }

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5; }
  .jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px; }

/* Supporting marketing content */
.marketing {
  margin: 40px 0; }
  .marketing p + h4 {
    margin-top: 28px; }

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px; }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0; }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px; }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0; } }

/*# sourceMappingURL=main.css.map */
