.porte-folio-item {
  position: relative;
  display: block;
  min-height: 100px;
  left: 0;
  right: 0;
  padding-top: 20px;
  padding-bottom: 40px;
  margin-bottom: 40px;


  .porte-folio-item-separator {
    position: absolute;
    display: block;
    bottom: 0;
    left: 25%;
    right: 25%;
    height: 1px;
    border-bottom: 1px dotted black;
  }

  .porte-folio-item-title {

    position: relative;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    min-height: 50px;

    .porte-folio-item-title-text {

      position: relative;
      display: block;
      text-align: center;
      max-width: 900px;
      top: 10px;
      font-family: 'Slabo 27px', serif;
      font-size: 27px;
      font-weight: bold;
      margin-bottom: 30px;
    }
  }

  .porte-folio-item-content {

    .porte-folio-item-image {

      position: relative;
      display: inline-block;
      left: 0;
      top: 0;
      margin-left: 50px;
      margin-right: 50px;
      width: 200px;
      height: 200px;
      overflow: hidden;

      background-image: url('../images/InterviewManager.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

    }

    .porte-folio-item-description {

        position: relative;
        display: inline-block;
        top: 0;
        left: 0;
        margin-left: 10px;
        margin-right: 10px;
//        min-width: 350px;
        font-family: 'Mandali', sans-serif;
        font-size: 16px;
//        max-width: 800px;
        overflow: hidden;

    }
  }
}
