.section-menu {
  position: absolute;
  display: block;
  background-color: #707F94;
  left: 0;
  top: 60px;
  width: 100%;
  height: 40px;
  border-radius: 0 0 20px 20px;
  z-index: 50;
  overflow: hidden;

  .section-menu-item-font {
    font-family: 'Vesper Libre', serif;
    color: #E1E1E1;
    font-size: 16px;
  }

  .section-menu-item {
    @extend .section-menu-item-font;
    position: relative;
    display: inline-block;
    margin-top: 5px;
    margin-left: 75px;
    margin-right: 75px;
    cursor: pointer;
  }

  .section-menu-item:hover {
    text-shadow: 0 0 4px #FF7140;
  }

  .section-menu-item-marker {
    position: relative;
    display: block;
    width: 15px;
    height: 15px;
    box-shadow: 2px -2px 1px 1px #FF7140;
    bottom: -8px;
    left: 25px;
    background-color: white;
    transform: rotate(-45deg);
  }
}

.section-menu-default {
  transition-duration: 0.25s;
}

.section-menu-visible {
  top: 100px;
  transition-duration: 0.25s;
}
