.technologies {

  box-sizing: content-box;
  width: 100%;

  p {
    position: relative;
    line-height: 1.5em;
  }

  h2 {
    margin-left: 2em;
  }

  .tech-topic {
    position: relative;
    box-sizing: border-box;
    margin-left: 2em;
    padding-right: 10em;
    //width: 100%;
  }

  ul {

    //margin-left: 4em;

    li {
      list-style: none;
      line-height: 2em;

    }
  }

}
