<link rel="stylesheet" href="fragments/interviewManager/styles/download.css">
<div class='content'>

    <div class='requirements'>
        <div class='requirements-title'>Requirements</div>
        <div class='requirements-content'>
            <p>
                The application requires Windows XP or above with .NET Framework v4.0 installed.
            </p>
        </div>
    </div>

    <div class='note'>
        <div class='note-title'>Note</div>
        <div class='note-content'>
            <p>
                As the goal of this application is to demonstrate what has been done with C# and WPF, the need for a server was removed.<br><br>
                All the links that required a network connection with a server have been replaced by stub modules within the application itself. This makes it easier to download and test the application.
            </p>
        </div>
    </div>

    <div downloads item="InterviewManager" Platform="Windows"></div>
</div>

