<link rel="stylesheet" href="fragments/interviewManager/styles/technologies.css">
<div class='content'>

    <div class='technologies-group'>
        <div class='technology-item'>
            <div class='technology-item-title'>Front-End</div>
            <div class='technology-item-content'>
                <ul>
                    <li>C#</li>
                    <li>WPF</li>
                    <li>Visual Studio 2010</li>
                    <li>Windows 7</li>
                </ul>
            </div>
        </div>

        <div class='technology-item'>
            <div class='technology-item-title'>Connection Layer</div>
            <div class='technology-item-content'>
                <ul>
                    <li>Hessian</li>
                    <li>C#</li>
                    <li>Java</li>
                </ul>
            </div>
        </div>


        <div class='technology-item'>
            <div class='technology-item-title'>Service-Side</div>
            <div class='technology-item-content'>
                <ul>
                    <li>Java</li>
                    <li>MySQL</li>
                    <li>Eclipse</li>
                    <li>VMWare workstation</li>
                    <li>Linux Fedora 64 bits</li>
                    <li>MySql workbench</li>
                </ul>
            </div>
        </div>
    </div>

</div>
