<div class="porte-folio-content">
  <div porte-folio-item
       title="Nyx Traces Viewer"
       img="images/NyxTraceViewer.png"
       description="'/fragments/NyxTraceViewerDescription.html'"
       href="/porte-folio/NyxTraceViewer"></div>
  <div porte-folio-item
       title="Interview Manager"
       img="images/InterviewManager.png"
       description="'/fragments/interviewManagerDescription.html'"
       href="/porte-folio/InterviewManager"></div>
  <div porte-folio-item
       title="Nyx C++ Libraries"
       img="images/NyxLibrary.png"
       description="'/fragments/NyxLibDescription.html'"
       href="/porte-folio/NyxLib"></div>
</div>

