<div class="porte-folio-content">
  <div porte-folio-item
       title="Interview Manager"
       img="images/InterviewManager.png"
       description="'/fragments/interviewManagerDescription.html'"></div>
  <div porte-folio-item
       title="Nyx Traces Viewer"
       img="images/NyxTraceViewer.png"
       description="'/fragments/NyxTraceViewerDescription.html'"></div>
  <div porte-folio-item
       title="Nyx C++ Libraries"
       img="images/NyxLibrary.png"
       description="'/fragments/NyxLibDescription.html'"></div>
</div>

