.requirements {

  padding-top: 2em;
  margin-bottom: 4em;

  .requirements-title {
    font: 18px arial;
    font-weight: bold;
  }

  .requirements-content {

    margin-left: 2em;
    margin-right: 4em;
  }
}

.note {

  margin-bottom: 4em;

  .note-title {

    font: 18px arial;
    font-weight: bold;
  }

  .note-content {

    font-style: italic;
    margin-left: 2em;
    margin-right: 4em;
  }
}

