<link rel="stylesheet" href="fragments/NyxTraceViewer/styles/technologies.css">
<div class='content technologies'>

    <h1>Architecture</h1>
    <div class='tech-topic'>
        <p>
            This application architecture is bases on an home made cross-platform C/C++ Layer. This layer is independant of any existing framework and rely only on standard C++ libraries (STL) and operating system calls. This gives more possibilities on which platform it can be ported, and gives more flexibility for fine tuning on each platform.
        </p>
    </div>

    <h1>User Interface</h1>
    <div class='tech-topic'>
        <p>
            Qt was used to make the GUI at first 'cause I intended to get the application on all three platforms as fast as possible. Plans are (if time allows) to build a Cocoa, Java and .Net version of the GUI side to access new platforms where Qt isn't available, as well as for a learning experience. Although the GUI might change, the core module responsible for receiving and managing traces will remain in native C++ for performance reasons.
        </p>
    </div>

    <h1>Development</h1>

    <h2>Windows</h2>
    <div class='tech-topic'>
        <ul>
            <li>Windows 7 x64</li>
            <li>Visual Studio 2005 with a plugin for Qt development.</li>
            <li>QtCreator / QtDesigner</li>
            <li>Visual Studio 2010</li>
        </ul>
    </div>

    <h2>OS X</h2>
    <div class='tech-topic'>
        <ul>
            <li>OS X Mountain Lion</li>
            <li>QtCreator / QtDesigner</li>
            <li>XCode</li>
        </ul>
    </div>

    <h2>Linux</h2>
    <div class='tech-topic'>
        <ul>
            <li>Linux Fedora x64 / Linux Mint x64</li>
            <li>Eclipse</li>
            <li>QtCreator / QtDesigner</li>
            <li>makefiles</li>
            <li>gcc/g++</li>
        </ul>
    </div>

    <h2>Website</h2>
    <div class='tech-topic'>
        <ul>
            <li>RapidWeaver</li>
            <li>Apache</li>
            <li>Tomcat</li>
            <li>NodeJS</li>
            <li>Webstorm</li>
            <li>Linux Ubuntu/Mint</li>
        </ul>
    </div>

    <h2>other</h2>
    <div class='tech-topic'>
        <ul>
            <li>Visual Paradigm</li>
            <li>Mercurial / Git</li>
            <li>VMWare Workstation / VMWare Fusion / Parallel</li>
            <li>Gimp / Adobe Photoshop</li>
            <li>GitHub / Bitbucket / Javaforge</li>
        </ul>
    </div>
</div>

