.overview-desc {
  position: relative;
  text-align: center;
  font: 20px Arial;
  font-weight: bold;
  line-height: 3em;
  margin-bottom: 3em;
}

%title {

  font: 16px Arial;
  font-weight: bold;
  padding-bottom: 0.5em;
}

%description {

  margin-right: 5em;
  margin-left: 2em;
}

.problematic {

  margin-bottom: 4em;

  .problematic-desc-title {
    @extend %title;
  }

  .problematic-desc {

    @extend %description;
  }
}

.requirements {

  margin-bottom: 4em;

  .requirements-desc-title {
    @extend %title;
  }

  .requirements-desc {
    @extend %description;

    ul {
      li {
        line-height: 2em;
      }
    }
  }
}


.data-description {

  margin-bottom: 4em;

  .data-description-title {
    @extend %title;
  }

  .data-description-text {
    @extend %description;
  }
}


.solution {

  margin-bottom: 4em;

  .solution-title {
    @extend %title;
    font: 18px Arial;
    font-weight: bolder;
    margin-left: 10em;
    margin-bottom: 2em;
  }

  .solution-item {

    margin-bottom: 2em;

    .solution-item-title {
      @extend %title;
    }

    .solution-item-text {
      margin-right: 4em;
      margin-left: 2em;
    }
  }
}


.screenshots {

  margin-bottom: 4em;

  .screenshots-title {

    @extend %title;
    font: 18px Arial;
    font-weight: bolder;
    margin-left: 10em;
    margin-bottom: 0em;
  }

  .screenshots-content {

    margin-left: 4em;
    padding-left: 0px;
    width: 750px;
    height: 450px;
    border: 1px double #000;

    ul {
      padding-left: 0;
      padding-top: 0;
      margin-left: 0;
      margin-top: 0;

      li {
        list-style: none;
        margin-top: 0px;
        padding-left: 0px;

        figure {
          margin-left: 0;
          margin-top: 0;
          position: absolute;
          top: 0px;
          left: 0px;
          width: 750px;
          height: 450px;
          background-position: center center;
          background-size: contain;

          -webkit-margin-before: 0;
          -webkit-margin-after: 0;
          -webkit-margin-begin: 0;
          -webkit-margin-end: 0;
        }
      }
    }

    #Login-img {
      background-image: url('../images/screenshots/Login.png');
    }

    #MainPage-img {
      background-image: url('../images/screenshots/MainPage.png');
      display:none;
    }

    #Import-img {
      background-image: url('../images/screenshots/Import.png');
      display:none;
    }

    #ParagraphView-1-img {
      background-image: url('../images/screenshots/ParagraphsView.png');
      display:none;
    }

    #ParagraphView-2-img {
      background-image: url('../images/screenshots/ParagraphsView-2.png');
      display:none;
    }

    #AnnotationView-img {
      background-image: url('../images/screenshots/AnnotationsView.png');
      display:none;
    }

    #AnnotationEdition-img {
      background-image: url('../images/screenshots/AnnotationEdition.png');
      display:none;
    }

    #UserManagement-img {
      background-image: url('../images/screenshots/UsersManagement.png');
      display:none;
    }

    .images-nav {
      position: absolute;
      height: 1em;
      //bottom: 3em;
      text-align: center;
      width: 750px;
      margin-bottom: 1em;
      margin-top: 1em;
      //z-index: 1;
    }
  }
}
